<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h1>Login</h1>
<form action="/user/login" method="post">
    <label for="username">账号:</label>
    <input type="text" id="username" name="username">
    <br>
    <label for="password">密码:</label>
    <input type="password" id="password" name="password">
    <br>
    <label for="rememberMe">记住我</label><input id="rememberMe" type="checkbox" name="rememberMe">
    <input type="submit" value="登录">
</form>
</body>
</html>